
<div class="container">
  <%# <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Historique</button>

    </div>
  </nav> %>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <br>
      <h1 class="mb-5 pt-5 text-center">Mon Historique</h1>
        <ul class="list-group">
            <% @questions.order(created_at: :desc).each do |question| %>
          <li class="list-group-item list-group-item-primary">
            <div class="d-flex justify-content-between">
                <h2>Symptome: <%= question.content %></h2>
                <p> <%= question.created_at.strftime('%d-%m-%Y - %Hh%M') %> </p>
            </div>
          </li>
            <li class="list-group-item list-group-item-secondary">
              <% question.answer&.tasks&.each do |task|  %>
                <p><%= task.content %></p>
              <% end %>
              <p class="text-center mt-5  d-flex justify-content-end"> <%= image_tag 'pdf.png', class:"icon-pdf" %></p>
                <% if question&.answer %>
                  <%= link_to "Télécharger ma fiche", question_answer_tasks_path(question, question.answer, format: :pdf), target: :_blank, class: "text-decoration-none" %>
                <% end %>
            </li>
              <% end %>
        </ul>
</div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <%= current_user.email %>
    </div>
  </div>
</div>
