
<div class="container p-5" style="margin-top: 80px;">

  <div class="shadow rounded-4">
    <div class="tab-pane">
      <h1 class="text-center p-4">Mon historique</h1>
        <ul class="list-group">
            <% @questions.order(created_at: :desc).each do |question| %>
          <li class="list-group-item list-group-item-primary">
            <div class="d-flex justify-content-between">
                <h2>Symptome: <%= question.content %></h2>
                <p> <%= question.created_at.strftime('%d-%m-%Y - %Hh%M') %> </p>
            </div>
          </li>
            <li class="list-group-item list-group-item-secondary">
              <% question.answer&.tasks&.each do |task|  %>
                <p><%= task.content %></p>
              <% end %>
              <p class="text-center mt-5  d-flex justify-content-end"> <%= image_tag 'pdf.png', class:"icon-pdf" %></p>
                <% if question&.answer %>
                  <%= link_to "Télécharger ma fiche", question_answer_tasks_path(question, question.answer, format: :pdf), target: :_blank, class: "text-decoration-none" %>
                <% end %>
            </li>
              <% end %>
        </ul>
    </div>
  </div>
</div>
